<header>
  <nav class="navBar">
    <div class="navegation">
      <a href="carts">
        <p>Carts</p>
      </a>
      <a href="products">
        <p>Products</p>
      </a>
    </div>
  </nav>
</header>
<main>
  <div class="content" id="contentGeneral">
    <div class="contentCarts">
      {{#each carts.docs}}
      {{#if this.select}}
        <div class="cartSelect">
          <i class="fa-solid fa-cart-shopping"></i>
          <p>{{this.name}}</p>
        </div> 
      {{else}}
        <a href="/api/views/products?limit={{../context.limit}}&page={{../context.page}}{{#if ../context.category}}&category={{../context.category}}{{/if}}{{#if ../context.sort}}&sort={{../context.sort}}{{/if}}&cart={{this._id}}">
          <div class="cartBox">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>{{this.name}}</p>
          </div> 
        </a>
      {{/if}}
      {{/each}}
        <div class="cartBox" onclick="createCart()">
            <i class="fa-solid fa-cart-plus"></i>
        </div>
    </div>
    <div class="contentDateCarts" id="dateCarts">
      <div class="contentFormCart" style="display: none;" id="formView">
        <form action="/api/views/products?limit={{context.limit}}&page={{context.page}}{{#if context.category}}&category={{context.category}}{{/if}}{{#if context.sort}}&sort={{context.sort}}{{/if}}{{#if context.cartID}}&cart={{context.cartID}}{{/if}}" method="post" class="formCreateCart">
          <input type="text" name="cartName" placeholder="Nombre de su carrito">
          <button type="submit" onclick="finallyCreateCart()">Crear carrito</button>
        </form>
      </div>
    </div>
    <div id="contentOpen">
      <div class="contentFilter">
        <div class="filterText">
          <p>Filtros</p>
        </div>
        <div class="contentIcon" onclick="rotateIcon()">
          <i class="fa-solid fa-angle-down" id="iconRotate"></i>
        </div>
      </div>
      <div id="filters" style="display: none;">
        <div>
          <label for="">Categoria:</label>
          <select name="" id="categorys">
            <option value="Todos">Todos</option>
            <option value="Comida">Comida</option>
            <option value="Bebida">Bebida</option>
            <option value="Snack">Snack</option>
            <option value="Higiene">Higiene</option>
            <option value="Infusión">Infusión</option>
            <option value="Postre">Postre</option>
          </select>
        </div>
        <div>
          <label for="">Precio:</label>
          <select name="" id="sortFilter">
            <option value="default">Default</option>
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
        <div>
          <label for="">Limite:</label>
          <input type="number" id="limite">
        </div>
      </div>
      <div class="contentSendRedireccion" id="redireccionContent" style="display: none;">
        <button onclick="redireccion('{{#if context.cartID}}{{context.cartID}}{{/if}}')">Filtrar</button>
      </div>
    </div>
    {{#if context.hayDocs}}
      <div class="contentProducts">
        <div class="lineProductReference">
          <div class="contentId lineRigth">
              <p>ID</p>
            </div>
            <div class="contentTitleReference lineRigth">
              <p>Title</p>
            </div>
            <div class="contentDescriptionReference lineRigth">
              <p>Description</p>
            </div>
            <div class="contentCode lineRigth">
              <p>Code</p>
            </div>
            <div class="contentPrice lineRigth"> 
              <p>Price</p>
            </div>
            <div class="contentStock lineRigth">
              <p>Stock</p>
            </div>
            <div class="contentCategory lineRigth">
              <p>Category</p>
            </div>
        </div>
        <hr>
        {{#each context.docs}}
          <div class="lineProduct">
            <div class="contentId lineRigth">
              <p>{{this._id}}</p>
            </div>
            <div class="contentTitle lineRigth">
              <p>{{this.title}}</p>
            </div>
            <div class="contentDescription lineRigth">
              <p>{{this.description}}</p>
            </div>
            <div class="contentCode lineRigth">
              <p>{{this.code}}</p>
            </div>
            <div class="contentPrice lineRigth"> 
              <p>${{this.price}}</p>
            </div>
            <div class="contentStock lineRigth">
              <p>{{this.stock}}</p>
            </div>
            <div class="contentCategory lineRigth">
              <p>{{this.category}}</p>
            </div>
            <div class="contentAddCart">
              <button onclick="addProduct('{{this._id}}', '{{../context.cartID}}')">Add to Cart</button>
            </div>
          </div>
          <hr>
        {{/each}}
      </div>
    {{else}}
    <div class="content">
      nada para mostrar...<br>
    </div>
    {{/if}}
      <div class="contentPage">
        {{#if context.hasPrevPage}}
        <a  href="/api/views/products?limit={{context.limit}}&page={{context.prevPage}}{{#if context.category}}&category={{context.category}}{{/if}}{{#if context.sort}}&sort={{context.sort}}{{/if}}{{#if context.cartID}}&cart={{context.cartID}}{{/if}}" class="pages"><button><i class="fa-solid fa-angles-left"></i></button></a>
        {{else}}
        <button class="btnDisable" ><i class="fa-solid fa-angles-left"></i></button>
        {{/if}}
        {{#if context.hasPrevPage}}
        <a href="/api/views/products?limit={{context.limit}}&page={{context.prevPage}}{{#if context.category}}&category={{context.category}}{{/if}}{{#if context.sort}}&sort={{context.sort}}{{/if}}{{#if context.cartID}}&cart={{context.cartID}}{{/if}}" class="pages"><button>{{context.prevPage}}</button></a>
        {{/if}}
        <div class="pagesRightnow"><p>{{ context.page }}</p></div>
        {{#if context.hasNextPage}}
        <a href="/api/views/products?limit={{context.limit}}&page={{context.nextPage}}{{#if context.category}}&category={{context.category}}{{/if}}{{#if context.sort}}&sort={{context.sort}}{{/if}}{{#if context.cartID}}&cart={{context.cartID}}{{/if}}" class="pages"><button>{{context.nextPage}}</button></a>
        {{/if}}
        {{#if context.hasNextPage}}
        <a href="/api/views/products?limit={{context.limit}}&page={{context.nextPage}}{{#if context.category}}&category={{context.category}}{{/if}}{{#if context.sort}}&sort={{context.sort}}{{/if}}{{#if context.cartID}}&cart={{context.cartID}}{{/if}}" class="pages"><button><i class="fa-solid fa-angles-right"></i></button></a><br>
        {{else}}
        <button class="btnDisable" ><i class="fa-solid fa-angles-right"></i></button><br>
        {{/if}}
    </div>
  </div>
</main>
<script>
  function rotateIcon(){//
    const icon = document.getElementById("iconRotate")
    const open =document.getElementById("contentOpen")
    const filters =document.getElementById("filters")
    const filtersSend =document.getElementById("redireccionContent")
  
    if(icon.style.transform){
      const currentRotation = parseInt(icon.style.transform.replace("rotate(", "").replace("deg)", "")) || 0;

        if(currentRotation === 0){
        icon.style.transform = "rotate(-180deg)";
        open.style.height = "140px"
        setTimeout(function () {
        filters.style.display = "flex";
        filtersSend.style.display = "flex";
        }, 100);
        } else {
            icon.style.transform = "rotate(0deg)";
            open.style.height = "40px"
            filters.style.display = "none"
            filtersSend.style.display = "none"
        }
    } else {
      icon.style.transform = "rotate(-180deg)";
      open.style.height = "140px"
      setTimeout(function () {
        filters.style.display = "flex";
        filtersSend.style.display = "flex";
      }, 100);
    }
  
}

function redireccion(cartId){
  const limite = document.getElementById("limite").value || 10
  const category = document.getElementById("categorys").value
  const sort = document.getElementById("sortFilter").value

  console.log(cartId)

  switch (true) {
    case (category === "Todos" && sort === "default" && cartId === "false"):
        window.location = `?limit=${limite}&page=1`
        break
    case (category !== "Todos" && sort === "default" && cartId === "false"):
        window.location = `?limit=${limite}&page=1&category=${category}`
        break
    case (category === "Todos" && sort !== "default" && cartId === "false"):
        window.location = `?limit=${limite}&page=1&sort=${sort}`
        break
    case (category !== "Todos" && sort !== "default" && cartId === "false"):
        window.location = `?limit=${limite}&page=1&category=${category}&sort=${sort}`
        break
    case (category === "Todos" && sort === "default" && cartId !== "false"):
        window.location = `?limit=${limite}&page=1&cart=${cartId}`
        break
    case (category !== "Todos" && sort === "default" && cartId !== "false"):
        window.location = `?limit=${limite}&page=1&category=${category}&cart=${cartId}`
        break
    case (category === "Todos" && sort !== "default" && cartId !== "false"):
        window.location = `?limit=${limite}&page=1&sort=${sort}&cart=${cartId}`
        break
    case (category !== "Todos" && sort !== "default" && cartId !== "false"):
        window.location = `?limit=${limite}&page=1&category=${category}&sort=${sort}&cart=${cartId}`
        break
}
}

function createCart(){
  const createCartContent = document.getElementById("dateCarts")
  const form = document.getElementById("formView")

  createCartContent.style.height = "40px"

  setTimeout(function () {
        form.style.display = "flex"
      }, 100)

}

function finallyCreateCart(){
  const createCartContent = document.getElementById("dateCarts")
  const form = document.getElementById("formView")

  form.style.display = "none"

  createCartContent.style.height = "0px"
}

function addProduct(pidSend, cidSend){
  fetch("/api/views/products", {
      method: "POST",
      headers: {
          "Content-Type": "application/json"
      },
      body: JSON.stringify({
          pid: pidSend,
          cid: cidSend
      })
  })
  .then(response => response.json())
  .then(data => {
  })
  .catch(error => {
  });
}
</script>